body {
    font-family:;
    font-size: 14px;
    background: #f4f4f4;
    color: #eeeeee;
    font-family: 'Lato', sans-serif;
}



html,
body {
    height: 100%;
}

.row {
    height: 100%;
}

.user {
    padding: 1em 1em 3em 5em;

}
.onehundred {
    height: 100%;
}

/*------------------ TEXT ------------------*/

h1 {
    font-size: 3.5em;
}

a {
    color: ;
}

    a:link, 
    a:visited,
    a:active, 
    a:hover
    a:focus {
        color: ;
}

.preview-font, label {
    font-family: 'Griffy', cursive;
}

.text-right-margin {
    margin-right: 0.5em;
}




/*------------------ BKGD IMAGE ------------------*/

.bkgd-img {
    background: url('../images/thomas-shellberg-31280.jpg') no-repeat center center fixed;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -100;
}


.transparent {
    background: rgba(255,255,255,0.25);
}

.really-transparent {
    background: rgba(255,255,255,0.10);
}

/*------------------ FORM ------------------*/

form {
    padding: 1em;
}

form-control {
    border: 0;
}

*:focus {
    outline: none;
}

.input-clear {
    background: rgba(255, 255, 255, 0.6);
    border: 0;
    color: #444;
}

.form-control[aria-invalid="true"] {
    border: 2px solid #a9252a;
}

textarea:focus, input:focus {
    outline: none;
    border-color: transparent;
}

.form-group {
    margin: 1em;
}

.btn-basic {
    background-color: #355b80;
}
.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #444;
}

.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #444;
    opacity: 1;
}

.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #444;
    opacity: 1;
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #444;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #444;
}

label {
    font-size: 16px;
}

.top-margin {
    margin-top: 1em;
}

/*------------------ FORM MOVE RIGHT ------------------*/

.sub-entry {
    width: 50%;
    float: left;
}

.button {
    text-align: center;
    padding-top: 20px;
    clear: both;
}




/* 
    ************************************************************************
    HOW TO: ADJUST YOUR CSS WHEN THE USER'S VIEWPORT GETS LARGER
    You may combine anything to the right of "@media screen"    
    For example: 
    @media screen and (min-width: 1024px) and (orientation: landscape)
    ************************************************************************
*/

/* FOR LARGER HEIGHT */
@media screen and (min-height: ___px) {
}

/* FOR LARGER WIDTH */
@media screen and (min-width: ___px) {
}

/* FOR PORTRAIT ONLY */
@media screen and (orientation: portrait) {
}

/* FOR LANDSCAPE ONLY */
@media screen and (orientation: landscape) {
}