@model IndexModel


        <div class="onehundred">

            <div class="user col-xs-10 col-sm-5 col-md-6 col-lg-6">

                <h1 class="preview-font">Happy Halloween!</h1>
                <h4 class="preview-font">Scare your friends with this eGreeting:</h4>

            </div>

            <div class="onehundred rounded really-transparent col-xs-12 col-sm-5 col-md-4 col-lg-4 col-sm-offset-2">

                <form method="post">
                    <div class="form-group 444">
                        <label asp-for="bridgegreetings.sendTo"></label>
                
                        <label asp-for="bridgegreetings.toFirstName" class="sr-only"></label>
                        <input type="text" asp-for="bridgegreetings.toFirstName" class="form-control input-clear" maxlength="30">
                        <span asp-validation-for="bridgegreetings.toFirstName" class="text-danger"></span> 
                    </div>
		
                    <div class="form-group">
                        <label asp-for="bridgegreetings.toLastName" class="sr-only"></label>
                        <input type="text" asp-for="bridgegreetings.toLastName" class="form-control input-clear" maxlength="30">
                        <span asp-validation-for="bridgegreetings.toLastName" class="text-danger"></span>
                    </div>
		
                    <div class="form-group">
                        <label asp-for="bridgegreetings.toEmail" class="sr-only">Email</label>
                        <input type="email" asp-for="bridgegreetings.toEmail" class="form-control input-clear" placeholder="Email" maxlength="100">
                        <span asp-validation-for="bridgegreetings.toEmail" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="bridgegreetings.sentFrom"></label>
                        <input type="text" asp-for="bridgegreetings.fromFirstName" class="form-control input-clear"  placeholder="First Name" maxlength="30">
                        <span asp-validation-for="bridgegreetings.fromFirstName" class="text-danger"></span>
                    </div>
		
                    <div class="form-group">
                        <label asp-for="bridgegreetings.fromLastName" class="sr-only">Last Name</label>
                        <input type="text" asp-for="bridgegreetings.fromLastName" class="form-control input-clear" placeholder="Last Name" maxlength="30">
                        <span asp-validation-for="bridgegreetings.fromLastName" class="text-danger"></span>
                    </div>
		
                    <div class="form-group">
                        <label asp-for="bridgegreetings.fromEmail" class="sr-only">Email</label>
                        <input type="email" asp-for="bridgegreetings.fromEmail" class="form-control input-clear" placeholder="Email" maxlength="100">
                        <span asp-validation-for="bridgegreetings.fromEmail" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="bridgegreetings.title"></label>
                        <input type="text" asp-for="bridgegreetings.title" class="form-control input-clear" maxlength="60">
                        <span asp-validation-for="bridgegreetings.title" class="text-danger"></span>
				        <span class="countdown"></span>
				    </div>
                    <div class="form-group">     
                        <textarea asp-for="bridgegreetings.message" class="form-control input-clear" maxlength="150"></textarea>
                        <span asp-validation-for="bridgegreetings.message" class="text-danger"></span>
                        <span class="countdown"></span>
                    </div>

			        <div class="form-group">
                    <div class="checkbox">
                        <label>
						    <input type="checkbox" asp-for="bridgegreetings.agree" value="">I agree to the terms and conditions.
					    </label>
					    <span asp-validation-for="bridgegreetings.agree" class="text-danger"></span>
                    </div>
				    </div>
                    <div class="form-group">
				        <div class="g-recaptcha" data-sitekey="6LeXTDYUAAAAALqbMEDvxpjeDhsY3X_LqfygY5Ug"></div>
				        <span asp-validation-for="bridgegreetings.reCaptcha" class="text-danger"></span>
                        
				    </div>

			        <div class="panel-footer">
                        <button class="btn btn-basic btn-block top-margin" type="submit">  Next  </button>
				        <a href="/">What Is This?</a>
			        </div>
			
                </form>

            </div>

        </div>

