@model halloween.Model.greetings

    <h1 class="preview-font">
        @Html.Raw(@Model.title)
    </h1>

    <h4 class="preview-font">
        @Html.Raw(@Model.message)
    </h4>
                   

			


