@page
@model IndexModel


            <div class="user col-xs-10 col-sm-5 col-md-6 col-lg-6">

                <h1 class="preview-font">Happy Halloween!</h1>
                <h4 class="preview-font">Scare your friends with this eGreeting:</h4>

            </div>

            <div class="onehundred rounded really-transparent col-xs-12 col-sm-5 col-md-4 col-lg-4 col-sm-offset-2">

                <form method="post">

                    @Html.Partial("_Form", Model.bridgegreetings)
 
		            <div class="form-group"> 
                        <input type="submit" value="Next" class="btn btn-basic btn-block top-margin" />
                        <a href="/" class="btn btn-link">Start Over</a>
                    </div>

                </form>

            </div>


        <!-- FORM CHARACTER COUNTDOWN -->
		@section Scripts {
   		    <script src='https://www.google.com/recaptcha/api.js'></script>
            <script src="~/js/ww-form-character-countdown.js"></script>
            <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        }
    

    

