@page
@model halloween.Pages.PreviewModel
@{
    ViewData["Title"] = "Preview";
}

<h2>PREVIEW THIS CONTENT GOES BELOW?</h2>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}