@page "{ID?}"
@model ReadModel

@{
    ViewBag.cssPage = "read";
}


<div class="main">


    <div class="row">
      <div class="col-sm-2 col-md-3"></div>
      <div class="col-sm-8 col-md-6 align-center">@Html.Partial("_PreMsg", Model.bridgegreetings)</div>
      <div class="col-sm-2 col-md-3"></div>
    </div>

    <div class="row ">
      <div class="col-sm-2 col-md-3"></div>
      <div class="col-xs-12 col-sm-8 col-md-6 less-transparent">
			
			<div class="">

				<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
            
                @Html.Partial("_Preview", Model.bridgegreetings)

			    </div>
				
		    </div>
	  </div>
      <div class="col-sm-2 col-md-3"></div>
	
    </div>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6"></div>
      <div class="col-md-3"></div>
    </div>

</div>


	

    



